.media > .media-list > li > ul {
    padding-left: 40px;
}

.comments-tree >.media-list > li > ul {
    padding-left: 86px;
}

@media (max-width: 767px) {
    .media > .media-list > li > ul {
        padding-left: 0px;
        margin-top: -20px;
    }

    .comments-tree >.media-list > li > ul {
        padding-left: 0px;
        margin-top: -20px;
    }
}

.comments-tree .thumbnail {
    width: 74px;
}

.comments-tree .media-body {
    width: 100%;
}

.comments-tree .media-body .well:before {
    border-color: transparent #e8e8e8 transparent transparent;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    content: "";
    display: block;
    height: 0;
    margin-left: -40px;
    position: absolute;
    width: 0;
}
.comments-tree .media-body .well {
    margin-left: 10px;
    background: #fafafa;
}

.comment-meta{
    font-size: 80%;
    color: #999;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.comment-body{
    color: #555;
}